---
import BaseLayout from "@layouts/BaseLayout.astro";

const title = "Our Content Policy | Thanal";
const description =
    "Here we lists all our policies regarding the content published in this blog.| Thanal";
---

<BaseLayout {title} {description}>
    <main class="wrapper my-8">
        <p>To be written</p>
    </main>
</BaseLayout>
