---
import BaseLayout from "@layouts/BaseLayout.astro";

const title = "Our Content Policy | Thanal";
const description =
    "Here we lists all our policies regarding the content published in this blog.| Thanal";
---

<BaseLayout {title} {description}>
    <div class="wrapper my-8">
        <div class="max-w-2xl text-xl mx-auto font-manjari">
            <p>മനസ്സിൽ തോന്നുന്നത് എഴുതാൻ വേണ്ടി ഉണ്ടാക്കിയ ഒരു ബ്ലോഗ്.</p>
        </div>
    </div>
</BaseLayout>
